* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    padding: 30px;
    background: linear-gradient(to right, #f25793, #96f35c, #2c40f2);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 50px 0;
    color: white;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.menu li {
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}
#pink:hover {
    background-color: pink;
}

#yellow:hover {
    background-color: yellow;
}

#green:hover {
    background-color: green;
    color: white;
}

#red:hover {
    background-color: red;
    color: white;
}

#blue:hover {
    background-color: blue;
    color: white;
}


.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}


.card {
    background: white;
    border-radius: 14px;
    padding: 20px;
    flex: 1;
}


.main-img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2px;
}


.thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.thumbs img {
    width: 80px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    flex: 1;
}


@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 25px);
    }
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 100%;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}
